<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/css/ab.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Gallery</title>
  </head>
  <body style="background-color: teal;">
    <div class="nav">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
        <div class="nav-title">
          Mo Swechhasebi Sangathan
        </div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
      
      <div class="nav-links">
        <a href="/" >Home</a>
        <a href="/Gallery" >Gallery</a>
        <a href="" >Contact</a>
        <a href="" >Notice Board</a>
        <a href="" target="_blank">Donation</a>
      </div>
    </div>

    <div class="container head">
      <h1> Welcome To Gallery</h1>
      <h4>Some Beautiful Moments Of Our Organization Which Include Achivements & Our Valuable Work For Our Socity </h4>
    </div>
    <div class="container head">
      <div class="row space">
        <div class="col-sm">
          <div class="images">
            <img src="/images/ab.png"class="img-thumbnail" alt="">
            <h3>Description</h3>
          </div>
          
        </div>
        <div class="col-sm">
          <div class="images">
            <img src="/images/ab1.png" class="img-thumbnail" alt="">
            <h3>Corona Fighter Award</h3>
          </div>
          
        </div>
        <div class="col-sm">
          <div class="images">
            <img src="/images/ab2.png" class="img-thumbnail" alt="">
            <h3>Description</h3>
          </div>
          
        </div>
      </div
>

      <div class="row space">
        <div class="col-sm">
          <div class="images">
            <img src="/images/ab3.png" class="img-thumbnail" alt="">
            <h3>Description</h3>
          </div>
          
        </div>
        <div class="col-sm">
          <div class="images">
            <img src="/images/ab4.png" class="img-thumbnail" alt="">
            <h3>Description</h3>
          </div>
          
        </div>
        <div class="col-sm">
          <div class="images">
            <img src="/images/ab5.png" class="img-thumbnail" alt="">
            <h3>Description</h3>
          </div>
          
        </div>
      </div>

      <div class="row space">
        <div class="col-sm">
          <div class="images">
            <img src="/images/ab6.png" class="img-thumbnail" alt="">
            <h3>Description</h3>
          </div>
          
        </div>
        <div class="col-sm">
          <div class="images">
            <img src="/images/ab7.png" class="img-thumbnail" alt="">
            <h3>Description</h3>
          </div>
          
        </div>
        <div class="col-sm">
          <div class="images">
            <img src="/images/ab8.png" class="img-thumbnail" alt="">
            <h3>Description</h3>
          </div>
          
        </div>
      </div>


      <div class="row space">
        <div class="col-sm">
          <div class="images">
            <img src="/images/ab9.png" class="img-thumbnail" alt="">
            <h3>Description</h3>
          </div>
          
        </div>
        <div class="col-sm">
          <div class="images">
            <img src="/images/ab10.png" class="img-thumbnail" alt="">
            <h3>Description</h3>
          </div>
          
        </div>
        <div class="col-sm">
          <div class="images">
            <img src="/images/ab11.png" class="img-thumbnail" alt="">
            <h3>Description</h3>
          </div>
          
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>