

.space{
  margin-top: 10vh;
}
.head{
  text-align: center;
  /* background-color: rgb(9, 71, 83); */
  padding-top: 2vw;
 background-color: yellowgreen;

}
.head1{
  text-align: center;
  /* background-color: rgb(9, 71, 83); */
  padding-top:2vw;


}

.head1 >h1{
  color: rgb(224, 221, 0);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 2rem;
}
.head1 >h4{
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.images >h3{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.8rem;
}
