*{
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}
body{
  background-image: url(/images/wood.jpg);
  margin: 0rem;
  font-family: 'segoe ui';
}

.jumbotron {
    background: #043357;
    color: #FFF;
    border-radius: 0px;
    }
    .jumbotron-sm { padding-top: 24px;
    padding-bottom: 24px; }
    .jumbotron small {
    color: #FFF;
    }
    .h1 small {
    font-size: 24px;
    }
    .font{
        color: white;
    }
