*{
    padding: 0%;
    margin:0% ;
}
body{
    background-image: url('/images/wood1.jpg');
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position-x: center;
    color: rgb(251, 255, 0);
}
th{
  color: red;
}
td{
  color: rgb(141, 245, 236);
  
}
.container{
  padding-right: 6vw;
  padding-left:6vw ;
}